<%- include('../partials/header') %>
<div class='container'>
	<div class='row mt-3'>
		<div class='col-md-3'>
			<p class='lead'>YelpCamp</p>
			<div class='list-group'>
				<li class='list-group-item active'>Item 1</li>
				<li class='list-group-item'>Item 2</li>
				<li class='list-group-item'>Item 3</li>
			</div>
		</div>
		<div class='col-md-9'>
			<div class='card'>
				<img src='<%= campground.img_url %>' class='card-img-top' alt='image'>
				<div class='card-body'>
					<h5 class='float-right'>Rp100.000/malam</h5>
					<h5 class='card-title'><%= campground.name %></h5>
					<p class='card-text text-justify'><%= campground.description %></p>
					<p class="blackquote-footer">Submitted By 
						<strong>
							<cite title='<%= campground.author.username %>'><%= campground.author.username %></cite>
						</strong>
					</p>
					<a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning">Edit</a>
					<form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
						<button type="submit" class="btn btn-danger">DELETE</button>
					</form>
				</div>
			</div>
			<div class='card card-body bg-light mt-2'>
				<div class='text-right'>
					<a class='btn btn-success' href='/campgrounds/<%= campground._id %>/comments/new'>Add Comment</a>
				</div>
				<hr>
				<% campground.comments.forEach((comment) => { %>
					<div class='row'>
						<div class='col-md-12'>
							<strong><%= comment.author.username %></strong>
							<span class='float-right'>10 days ago</span>
							<p><%= comment.text %></p>
						</div>
					</div>
				<% }) %>
			</div>
		</div>
	</div>
</div>

<!-- <img src='<%= campground.img_url %>'>
<h1><%= campground.name %></h1>
<p><%= campground.description %></p>

<a href='/campgrounds/<%= campground._id %>/comments/new'>Add Comment</a>
<% campground.comments.forEach((comment) => { %>
	<p><strong><%= comment.author %></strong> - <%= comment.text %></p>
<% }) %> -->

<%- include('../partials/footer') %>